{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>List of demos</h2>
        <ul class="list-group">
        {% for routeName, route in routes %}
            {% if route is iterable %}
                <li class="list-group-item">
                    <a href='{{ route.uri }}'>{{ routeName }}</a>
                    <div class="alert alert-warning" role="alert">
                        <span class="text-warning">&#9888;</span> {{ route.note | raw}}
                    </div>
                </li>
            {% else %}
                <li class="list-group-item"><a href='{{ route }}'>{{ routeName }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
{% endblock %}
