<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block head %}
            <title>{% block title %}Demo sf-flex-encore-vuejs{% endblock %}</title>
        {% endblock %}

        {% if csrf_token is defined %}
        <meta name="{{ csrfTokenParameter }}" content="{{ csrf_token }}">
        {% endif %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('dist/vendor.css') }}">
        {% endblock %}

        <!-- preload JS -->
        <link rel="preload" href="{{ asset('dist/manifest.js') }}" as="script"/>
        <link rel="preload" href="{{ asset("dist/vendor.js") }}" as="script"/>
        <link rel="preload" href="{{ asset("dist/service-worker.js") }}" as="script"/>
    </head>
    <body class="mat">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <h1><a href="/"><u>Demo of symfony 4</u></a>
                <span style="font-size: smaller">with flex,
                    <span style="font-size: smaller">and webpack/encore,
                        <span style="font-size: smaller">VueJS,
                            <span style="font-size: smaller">ApiPlatform,
                                <span style="font-size: smaller">HttpPlug,...</span>
                            </span>
                        </span>
                    </span>
                </span>
            </h1>
        </nav>
        {% block body %}{% endblock %}

        <script src="{{ asset('dist/manifest.js') }}"></script>
        <script src="{{ asset('dist/vendor.js') }}"></script>
        <script src="{{ asset('dist/service-worker.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
