<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

        {% block head %}
            <title>{% block title %}Demo sf-flex-encore-vuejs{% endblock %}</title>
        {% endblock %}

        {% block metaSeo %}
            <meta name="keywords" property="keywords" content="php,symfony,apiplatform,api platform,rest,graphql,doctrine,javascript,vuejs,react,angular,devextrem,quasar,benjamin richard,rebolon">
            <meta name="description" property="description" content="{% block metaDescription %}This application has been realized to get a sample front app with symfony 3+ and javascript frontend like vuejs, angular or react. But it also shows basic controllers with what most developpers do :
basic controller, controller with twig, http call to external API, logging, API... We will try to not use front manipulation outside of VueJS/Angular (the sample with twig are really basic and won't use form per example).
Security is managed by json_login or JWT with symfony security system.{% endblock %}">

            <meta property="og:site_name" content="{% block metaOgAppName %}MyAlerts.org - from Benjamin RICHARD{% endblock %}" />
            <meta name="og:title" property="og:title" content="{% block metaOgTitle %}Demo sf-flex-encore-vuejs{% endblock %}">
            <meta name="og:description" content="{% block metaOgDescription %}This application has been realized to get a sample front app with symfony 3+ and javascript frontend like vuejs, angular or react. But it also shows basic controllers with what most developpers do :
basic controller, controller with twig, http call to external API, logging, API... We will try to not use front manipulation outside of VueJS/Angular (the sample with twig are really basic and won't use form per example).
Security is managed by json_login or JWT with symfony security system.{% endblock %}">
            <meta property="og:url" content="https://www.richard.icu/" />
            <meta property="og:type" content="website" />
            <meta name="twitter:image" content="https://www.richard.icu/android-icon-192x192.png" />

            <meta name="twitter:card" content="summary" />
            <meta name="twitter:site" content="@Rebolon" />
            <meta name="twitter:title" property="twitter:title" content="{% block metaTwitterTitle %}Technical Demo of PHP Symfony and Javascript - from Benjamin RICHARD{% endblock %}">
            <meta name="twitter:description" content="{% block metaTwitterDescription %}This application has been realized to get a sample front app with symfony 3+ and javascript frontend like vuejs, angular or react. But it also shows basic controllers with what most developpers do :
basic controller, controller with twig, http call to external API, logging, API... We will try to not use front manipulation outside of VueJS/Angular (the sample with twig are really basic and won't use form per example).
Security is managed by json_login or JWT with symfony security system.{% endblock %}">
            <meta name="twitter:url" content="https://www.richard.icu/" />
            <meta name="twitter:domain" content="richard.icu" />
            <meta name="twitter:image" content="https://richard.icu/android-icon-192x192.png" />

            <meta name="google" content="nositelinkssearchbox" />

            <meta name="application-name" content="{% block metaAppName %}Technical Demo of PHP Symfony and Javascript - from Benjamin RICHARD{% endblock %}"/>
            <meta name="msapplication-TileColor" content="#ffffff">
            <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">

            <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
            <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
            <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
            <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
            <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
            <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
            <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
            <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
            <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">

            <link rel="icon" href="/favicon-16x16.png" />
            <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

            <link rel="manifest" href="/manifest.json">

            <meta name="theme-color" content="#ffffff">

            <meta name="robots" content="index, follow">
        {% endblock %}

        {% if csrf_token is defined %}
            <meta name="{{ csrfTokenParameter }}" content="{{ csrf_token }}">
        {% endif %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('js/vendor') }}
        {% endblock %}

        {# using builtin twig symfony encore package i cannot use preloading like before (for instance)
        {%  if preventParentJs is not defined or not preventParentJs %}
            <!-- preload JS -->
            <link rel="preload" href="{{ asset('dist/manifest.js') }}" as="script"/>
            <link rel="preload" href="{{ asset("dist/vendor.js") }}" as="script"/>
            <link rel="preload" href="{{ asset("dist/service-worker.js") }}" as="script"/>
        {% endif %}
        #}
    </head>
    {# mat is for quasar, dx-* are for devextrem, it should be configurable @todo #}
    <body class="dx-theme-generic dx-theme-generic-typography dx-color-scheme-light mat">
        <div class="sticky-top">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <h1><a href="/"><u>Demo of symfony 5</u></a>
                    <span style="font-size: smaller">with flex,
                        <span style="font-size: smaller">and webpack/encore,
                            <span style="font-size: smaller">VueJS,
                                <span style="font-size: smaller">ApiPlatform,
                                    <span style="font-size: smaller">HttpClient,...</span>
                                </span>
                            </span>
                        </span>
                    </span>
                </h1>
            </nav>
            {% block menuPage %}{% endblock %}
        </div>
        {% block body %}{% endblock %}

        {%  if preventParentJs is not defined or not preventParentJs %}
            {{ encore_entry_script_tags('service-worker') }}
        {% endif %}
        {% block javascripts %}
            {{ encore_entry_script_tags('js/vendor') }}
        {% endblock %}
    </body>
</html>
